@use "../abstracts" as *;

.explore {
    padding: 40px 20px;
    background-color: $secundary-bg-color ;
    text-align: center;
    
}

.fonction {
    margin-top: 30px;
    padding:0 20px;
    .button{
        display:flex;
        gap:18px;
    }
}

.restaurants {
    padding: 40px 20px;
    background-color: $secundary-bg-color ;

    .restaurant-card {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    i {
        font-size: 23px;
        bottom: 32px;
        right: 20px;
    }
    .rectangle{
        position: absolute;
         top: 12px;
      right: 12px;
}
    }


.card-title {
    font-size: 19px;
    padding: 10px 10px 0;
}

.card-subtitle {
    padding: 0 10px;
    font-size: 19px;
}

.restaurants-title {
    margin-bottom: 20px;
}

.fonction.button {
    display: flex;
    flex-direction: column;
    gap: 18px;

}

.fonction ul {
    margin: 30px 0 50px;
}