@use "../abstracts" as *;
#main-header {
    img {
        width:45%;
        display: block;
        margin: 20px auto 15px auto;  
    }
    label{
        display:none;
    }
    i{
            top: 80px;
            left: 115px;
    }
    input[type=text] {
        text-align: center; 
        height: 50px;
        width: 100%;
        background-color: $color-form;
        border: 5px;
        border-radius: 0px;
    }
  
}
#secundary-header{
    img {
        width:45%;
        display: block;
        margin: 20px auto 15px auto;  
    }
}