@use "../abstracts" as *;
.main-header {
    @include img-header-setup;
    label{
        display:none;
    }
    i{
            top: 85px;
            left: 115px;
            font-size:16px;
    }
    input[type=text] {
        text-align: center; 
        height: 52px;
        width: 100%;
        background-color: $color-form;
        border: 5px;
        border-radius: 0px;
        font-size: 16px;
        box-shadow: 
        0 -5px 5px -5px #A9A9A9 ,
        0 5px 5px -5px #A9A9A9 ;
    }
  
}
.secundary-header{
  @include img-header-setup;
  padding:0 25px;
  i{

  top: 22px;
  left: 40px;
}
}