@use "../abstracts" as *;


.main-container {
    width: 100%;
    max-width: $myWidth;
    box-sizing: border-box;
}
body {
    font-family: $primary-font;
    font-size: $myFontSize;
    color:$txt-color;
    p a{
        font-family: $secundary-font;
        color:inherit;
    }
    }




