@use "../abstracts" as *;


.main-container {
    width: 100%;
    max-width: $myWidth;
    box-sizing: border-box;
}
body {
    h1, h2, h3{
    font-family: $primary-font;
}
    font-size: $myFontSize;
    color:$txt-color;
    font-family: $secundary-font;
    color:inherit;
    }




