$color-primary:#9356DC ;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$primary-bg-color:white;
$footer-bg-color:#353535;
$secondary-bg-color:#F3F3F3;
$txt-color:black;
$secondary-txt-color:#008766;
$color-form:#EAEAEA;
