@use "variables" as *;
@use "mixins" as *;

@media (min-width: $minwidth-desktop) {
    body .main-container {
        max-width: $maxwidth-desktop;
    }

    #main-header {
        @include img-header-setup-destop;
        i{left: 280px;}
    }
    #secundary-header {
        @include img-header-setup-destop;
    }
    #explore{
        h1{
            font-size: 40px;
            margin-bottom: 25px;
        }
        p{
            font-size: 20px;
        }
    }
    #functioning {
        h2{
            margin-left: 170px;
        }
        display: flex;
        flex-direction: column;
         align-items: flex-start;;
        ul {
            display: flex;
            gap: 25px;
            justify-content: center;
            width: 100%;
        }
    } 

    #restaurants {
        padding:30px 50px;
        .restaurant-card {
          display:grid;
          grid-template-columns: 50% 50%;
          grid-template-rows: auto;
          justify-items: center;
          
  }
            .card{
                width: 500px;
                margin-top:20px;
            }
        }
    
        .image-fit{
            width: 100%;
            height: 383px;
            object-fit: cover;
          }
          @for $i from 1 through 3 {
        
            #dish-#{$i}{
               @include align-dish-center;
            }
        }
    #menu {
        width: 73%;
        margin: 0 auto;
        .menu-card{
        .card {
            width: 700px;
        }

    }
    h1{
        text-align: center;
    }

        .title-underscored {
            width: 4%;
          }
          i{
            top: 73px;
            right: 248px;
            font-size:25px;
          }
    }
    #main-footer{
        
        h2 {
            margin: 0;
            font-size: 22px;
            margin-top: 6px;
            margin-left:35px;
          }
        nav{
            margin-top: 30px;
            ul{
                display: flex;
                justify-content:flex-end;
                li{
                    margin-right: 25px;
                }
            }
            display:flex;
            flex-direction: row-reverse;
       
        }
    }
    section{
    .button_smaller{
        margin-top: 40px;
    }
}
.footer-restaurant{
    margin-top: -50px;
}
}