
$primary-font:"Shrikhand", serif;
$secundary-font:"Roboto", serif;

$myWidth: 375px;
$myFontSize: 17px;
$maxwidth-desktop: 1440px;
$minwidth-desktop:1000px;
$maxwidth-tablet:($minwidth-desktop)-1;
$minwidth-tablet:600px;
 